.header{
    width: 100%;
    height: 50vh;
    min-height: 300px;
}
.fontAwesome{
    background-color: blue;
    width: 100px;
    height: 100px;
    i{
        width: 10px;
        height: 10px;
    }
}